/* dynamicTag
-------------------------- */
$--color-up: #FAEBEC !default;
$--color-up-deep: #F44444 !default;
$--color-down: #E6F9EF !default;
$--color-down-deep: #00C352 !default;
$--color-flat: #EAEAEA !default;
$--color-flat-deep: #1B1D1F !default;

$--font-size-base: 12px !default;
$--font-size-extra-small: 10px !default;

$--color-trend: #FFF !default;
$--color-trend-bg: #EAEAEA !default;